<nav class="bg-cyan-500 text-white py-4 drop-shadow-md offset-b-4">
  <ul class="flex justify-end gap-3 px-3 text-lg space-x-7 mr-5 font-semibold">
    <li class="cursor-pointer" routerLink="/home">Dashboard</li>
    <li class="cursor-pointer" routerLink="/home/profile">Profile</li>
    <li class="cursor-pointer" routerLink="/">Logout</li>
  </ul>
</nav>

<div
  class="flex justify-center items-center w-14 h-14 rounded-full fixed bottom-10 right-10 bg-cyan-500 shadow-lg shadow-slate-500/50"
>
  <a routerLink="/home/add-expense"><fa-icon [icon]="faPlus" class="text-white font-semibold text-2xl"></fa-icon></a>
</div>
